# Conda environment for SimBMVtool
# Install:    conda env create -f simbmvtool-environment.yml
# Activate:   conda activate simbmvtool_env
# Deactivate: conda deactivate

name: simbmvtool_env

channels:
  - conda-forge
  - sherpa

variables:
  PYTHONNOUSERSITE: "1"

dependencies:
  # core dependencies
  - python=3.11
  - numpy>=1.26
  - scipy>=1.13
  - astropy>=6.0
  - regions>=0.9.0
  - pyyaml>=5.3
  - click>=8.0
  - pydantic>=2.8.0
  - iminuit>=2.26.0
  - matplotlib>=3.8, <3.10
  - pip
  - cython
  - extension-helpers
  # test dependencies
  - requests
  - tqdm
  # extra dependencies
  - healpy
  - ipython
  - jupyter
  - jupyterlab
  - naima
  - pandas
  - reproject
  - ultranest
  - numba
  - h5py
  - pip:
      - sherpa
      - pytest-sphinx
      - ray[default]>=2.9
      - PyGithub
      - pypandoc
      - seaborn
      - build
      - setuptools>=80.7.1
      - BAccMod==0.4.0
      - gammapy==2.0